# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
data/
src/*
node_modules
dist
dist-ssr
*.local
poketrax

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src-tauri/data/
build.sh

#cypress
src-web/cypress/videos
src-web/cypress/screenshots